  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon size="large" name="person-circle-outline"></ion-icon></ion-menu-button>
      </ion-buttons>
      <!-- <ion-title>Inbox</ion-title> -->
      <ion-buttons class="center">
        <ion-button class="bluecolor width100">
          <ion-icon class="large" name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon class="large" name="sparkles-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
</ion-content>
