.h1 {
    padding-top: 100px;
}
.bluecolor {
    color: rgb(73, 164, 248);
  }
  
  .bold {
    font-weight: bold;
    font-size: medium;
  }
  
  .width100 {
    width: 100%;
  }
  
  .center {
    text-align: center;
  }

  .card-image {
    color: gray;
    background-color: lightgrey;
    font-size: 50px;
    border-radius: 50px;
  }

.card
{
  box-shadow:none !important
}

.width70 {
  width: 70%;
}

.nowrap {
  white-space: nowrap;
}

.round{
  border-radius: 1rem;
}
.large{
	font-size: 26px;
}
.px20{
  font-size: 20px;
}
.px16{
  font-size: 16px;
}